.about {
    display: flex;
    background-color: #181a1f;
    padding-top: 25px;
    width: clamp(100px, 50%, 50%)
}
.aboutTitle {
    text-align: center;
    color: white;
    padding: 8px
}
.aboutBorder {
    flex: 1;
    border: 2px solid white;
    border-radius: 25px;
    margin: 2%;
}
.aboutText {
    color: white;
    margin: 10px
}
.aboutTextDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.aboutComponent {
    background-color: #181a1f;
    display: flex;
    justify-content: center
}
@media only screen and (max-width: 600px) {
    .about {
        display: flex;
        background-color: #181a1f;
        flex-direction: column;
        justify-content: center;
        padding-top: 25px;
        width: 80%;
    }
  }