/* .contactOuterDiv {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    background-color: #181a1f;
} */
.contactDiv {
    margin: auto;
    text-align: center;
}
.contactTitle {
    color: white;
    margin: 10vh 0;
}
.contactText {
    color: white;
    margin-bottom: 3em;
}
.formComponent {
    margin: auto;
}
.contactBottom {
    margin-bottom: 40vh
}
/* .formText {
    color: white;
    font-weight: 900;
}
label {
    display: block;
    margin-top: 1em;
    margin-bottom: .5em;
}
.submitBtn {
    margin-top: 1em;
    background-color: black;
    color:white;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.formInput {
    height: 2em;
    width: 50vw;
}
textarea {
    height: 8em;
    width: 50vw;
} */
@media (min-width: 60em) {
    /* .contactOuterDiv {
        margin: 15vh 0;
        display: flex;
        flex-direction: row;
    } */
    /* .contactOuterDiv > * {
        flex-basis: 70%;
    } */
    /* .formComponent {
        margin-right: 15vw;
    } */
    .contactDiv {
    }
    /* .formInput {
        height: 2em;
        width: 30vw;
    }
    textarea {
        height: 8em;
        width: 30vw;
    }
    .topLabel {
        margin-top: 0;
    } */
}

