.navigationStyles {
    display: inline-block;
    padding: 6px;
    margin: 5px;
    border: 2px solid #25272e;
    background-color: #25272e;
    border-radius: 10%;
    color: white;
    font-weight: 900;
    font-size: large;
  }
  .navigationStylesActive {
    display: inline-block;
    padding: 6px;
    margin: 5px;
    border: 2px solid #25272e;
    background-color: #25272e;
    border-radius: 10%;
    color: white;
    font-weight: 900;
    font-size: large;
  }
.linkStyles {
    text-decoration: none;
    color: white;
  }