.projectDiv {
  height: 40%;
  width: 40%;
  margin: 3.5%;
  background-color: white;
  border-radius: 25px;
  padding: 1%;

}
.projectDiv .projectText {
  padding-top: 2%;
  color: black;
}

.projectDiv:hover .projectText {
  color: black;
  display: block;
}
.projectLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1%;
}
.project {
  display: flex;
  background-color: #181a1f;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap
}

.projectTitle {
  color: black;
}
.inline {
  display: inline;
}
.projectImage {
  width: 100%;
}

.linkStyles {
  text-decoration: none;
  color: black;
}
.projectMobile {
  display: none;
}
@media only screen and (max-width: 800px) {
  .project {
    display: flex;
    background-color: #181a1f;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap
  }
  .projectDiv {
    height: 30%;
    width: 77%;
    margin: 4.5%;
  }
  .projectLinks {
    display: none;
  }
  .projectMobile {
    display: block;
  }
  .projectTitle {
    color: black;
    text-align: center;
  }
}

@media only screen and (min-width: 900px) {
  .projectDiv .projectImage {
    width: 100%;
    color: black;
    opacity:0.6;
    transition: .5s ease;
  }
    
  .projectDiv:hover .projectImage{
    opacity:1;
    transition: .5s ease;
  }

  .projectDiv .projectText {
    padding-top: 2%;
    color: black;
    display: none;
  }
  
  .projectDiv:hover .projectText {
    color: black;
    padding-top: 2%;
  }
}